<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="base.technobase"/>
     <class name="test.hometest"/>
      <class name="test.registrationtest"/>
     <class name="test.logintest"/>
     <class name="test.searchproducttest"/>
     <class name="test.addtocarttest"/>
     <class name="test.producttest"/>
     <class name="test.checkouttest"/>
    
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
